<!DOCTYPE html>
<html lang="en">
<head>
	<title>Havelka Progress site</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="styles/mystyle.css">
</head>
<body>
    <nav>
        <ul>
            <a href="index.html"><img id="logo" src="styles/images/logoo.png"></a>
            <li> <a href="index.html">Home</a> </li>
            <li class="current"> <a href="Blog.html">Blog</a> </li>
            <li> <a href="contact.html">Contact</a> </li>
            <li> <a href="about.html">About</a> </li>
        </ul>
    </nav>
        <header>
            <h1>Blog</h1>
        </header>
    <main>
       <h2>Updates, Articles and Projects</h2>
       <article class="post">
            <h1>Hello, this is my first post</h1>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/DglxPGLxJPQ" frameborder="0" allowfullscreen></iframe>
            <p> For my first post i won't be doing anything comlplicated. The exercise is to put the video player on the right side of the screen without interruting the natural flow of the text. </p>
            <p>The video is a song i have been listening to lately, if you landed on this page, you might as well give it a listen. </p>
       </article>
    </main>
    <footer class="footer">
        <p class="copyright">Copyright &copy; 2016 Martin Havelka </p>
    </footer>
    <script type="text/javascript" src='scripts/main.js'>
    </script>
</body>
</html>