<!DOCTYPE html>
<html lang="en">
<head>
	<title>Havelka Progress site </title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="styles/mystyle.css">
</head>
<body>
        <nav>
            <ul>
                <a href="index.html"><img id="logo" src="styles/images/logoo.png"></a>
                <li> <a href="index.html">Home</a> </li>
                <li> <a href="Blog.html">Blog</a> </li>
                <li class="current"> <a href="contact.html">Contact</a> </li>
                <li> <a href="about.html">About</a> </li>
            </ul>
        </nav>
    <header>
        <h1>Contact me</h1>
    </header>
    <main>
        <h2>Send me an e-mail</h2>
        <form action="mailto:havo.havelka@gmail.com" method="post" enctype="text/plain"><br>
            <input type="text" name="name"placeholder="Name">
            <input type="text" name="mail" placeholder="E-mail"><br><br>

            <input type="text" name="message"  placeholder="Message"><br><br>
            <input type="submit" value="Send">
        </form>
    </main>
            
        <footer class="footer">
            <p class="copyright">Copyright &copy; 2016 Martin Havelka </p>
        </footer>
 	<script type="text/javascript" src='scripts/main.js'>
 	</script>
</body>
</html>