<!DOCTYPE html>
<html lang="en">
<head>
	<title>Havelka Progress site</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="styles/mystyle.css">
</head>
<body>
    <nav>    
        <ul>
            <a href="index.html"><img id="logo" src="styles/images/logoo.png"></a>   
            <li class="current"> <a href="index.html">Home</a> </li>
            <li> <a href="Blog.html">Blog</a> </li>
            <li> <a href="contact.html">Contact</a> </li>
            <li> <a href="about.html">About</a> </li>
        </ul>
    </nav>
  <header>
      <h1>Welcome to my first page!</h1>
  </header>
    <main>
        <h2>Page is in progress.</h2>
        <p>Why hello there, welcome to my first page ever. This page serves as way to learn coding languages essential to create a functioning website. The trigger to start developing my first website is  a pass in Digital skills course. Later on, I will add animations and functionality. Finally my own goal is to prepare for creating an online portfolio. I could test and save lines of codes, that have a potential to be usefull, when applied in my portfolio. </p>
        <h2 id="latestPost">Latest Posts</h2>
       <aside id="grid">
            <h3><a href="Blog.html#post">Hello, this is my first post</a></h3>
            <small>2.3.2017</small>
            <form action="Blog.html#post">
                <button type="submit">Read More</button>
            </form>
       </aside>
        <aside id="grid">
            <h3>Placeholder for second post</h3>
            <small>2.3.2017</small>
            <form action="Blog.html#post">
                <button type="submit">Read More</button>
            </form>
       </aside>
        <article id="grid">
            <h3>Placeholder for third post</h3>
            <small>2.3.2017</small>
            <form action="Blog.html#post">
                <button type="submit">Read More</button>
            </form>
       </aside>
    </main>
        <footer class="footer">
            <p class="copyright">Copyright &copy; 2016 Martin Havelka </p>
        </footer>
 	
        <script type="text/javascript" src='scripts/main.js'>
 	      </script>
</body>
</html>